<div class="grid-container">
                <dx-data-grid id="dataGrid"
                  [dataSource]="remoteDataSource"
                  keyExpr="CODCANTON"
                  [allowColumnResizing]="true"
                  [columnAutoWidth]="true"
                  [allowColumnReordering]="true"
                  [showBorders]="true"
                  [height]="'100%'"
                  [width]="'100%'"
                  >
    <dxo-paging [pageSize]="10"> </dxo-paging>
                <dxo-pager
                [visible]="true"
                [showInfo]="true"
                [showNavigationButtons]="true"
                [showPageSizeSelector]="true"
                [allowedPageSizes]="[10, 25, 50, 100]"
              ></dxo-pager>
                  <dxi-column type="buttons" [width]="200" caption="Acción">
                    <dxi-button name="edit"></dxi-button>
                   
                  
                  </dxi-column>
                  <dxi-column dataField="CODCANTON" [width]="200"  caption="Codigo">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                     </dxi-column>
                  <dxi-column dataField="NOMCANTON" [width]="400" caption="Nombre">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                  </dxi-column>
  
  
  
                  <dxi-column dataField="CODPROV" [width]="300" caption="Provincia">
                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                    <dxo-lookup
                    [dataSource]="provincias"
                    displayExpr="NOMPROV"
                    valueExpr="CODPROV"
                  ></dxo-lookup>
                  </dxi-column>
                  <dxi-column dataField="CODPAIS" [width]="300" caption="Pais">
                    <dxi-validation-rule type="required" ></dxi-validation-rule>
                    <dxo-lookup
                    [dataSource]="paises"
                    displayExpr="NOMPAIS"
                    valueExpr="CODPAIS"
                  ></dxo-lookup>
                  </dxi-column>
  
                
                  <dxo-filter-row [visible]="true"></dxo-filter-row>
                  <dxo-search-panel [visible]="true"></dxo-search-panel>
  
                  <dxo-selection mode="single"></dxo-selection>
                  <dxo-summary>
                    <dxi-group-item
                      summaryType="count">
                    </dxi-group-item>
                  </dxo-summary>
                  <dxo-editing
                    mode="popup"
                    [allowUpdating]="true"
                    [allowAdding]="true">
                  </dxo-editing>
                    <dxo-popup
                    title="Guardar"
                    [showTitle]="true"
                    [width]="200"
                    [height]="145"
                    [position]="{ my: 'top', at: 'top' }">
                  </dxo-popup>
                  <dxo-toolbar>
                      <dxi-item name="groupPanel"></dxi-item>
  
                      <dxi-item name="addRowButton" showText="always"></dxi-item>
                      <dxi-item name="exportButton"></dxi-item>
                      <dxi-item name="columnChooserButton"></dxi-item>
                      <dxi-item name="searchPanel"></dxi-item>
                  </dxo-toolbar>
           
  
                </dx-data-grid>
  
              
  </div>
  

