<h5 class="mb-0">Rol Individual</h5>
<div style="display: flex;justify-content: space-between;">
  <div>
    <div class="dx-field">
      <div class="dx-field-label">Fecha de rol</div>
      <div class="dx-field-value">
        <dx-date-box type="date" pickerType="calendar" [showClearButton]="true" [useMaskBehavior]="true"
          displayFormat="MM/yyyy" [(value)]="Fecha" (onValueChanged)="onSelectChange($event)" [calendarOptions]="{
    zoomLevel: 'year',      
    maxZoomLevel: 'year',  
    minZoomLevel: 'decade'  
  }">
        </dx-date-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">Centro de Costo</div>
      <div class="dx-field-value">
        <dx-select-box displayExpr="TEXTO" valueExpr="VALOR" [dataSource]="ccosto"
          [inputAttr]="{ 'aria-label': 'ccosto VALOR' }" [value]="ccostoSelect"
          (onValueChanged)="onSelectChange($event)">
          ></dx-select-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">Tipo de Rol</div>
      <div class="dx-field-value">
        <dx-select-box displayExpr="TEXTO" valueExpr="VALOR" [dataSource]="trol"
          [inputAttr]="{ 'aria-label': 'trol VALOR' }" [value]="trolSelect" (onValueChanged)="onSelectChange($event)">
          ></dx-select-box>
      </div>
    </div>
  </div>


  <div style="width: 78%;">
    <dx-data-grid id="gridContainer" [dataSource]="Datos" [showBorders]="true" [columnAutoWidth]="true"
      [showRowLines]="true" [height]="'calc(100vh - 90px)'">
      <dxo-filter-panel [visible]="true"></dxo-filter-panel>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxi-column type="buttons" [width]="60" caption="Acción">
        <dxi-button hint="Ver" icon="find" [onClick]="verPdf"></dxi-button>
      </dxi-column>
      <dxi-column dataField="NOMGRUPOCCOSTO" caption="Centro de Costo" [groupIndex]="0"></dxi-column>
      <dxi-column dataField="RAZONSOCIAL" caption="Empleado" sortOrder="asc"></dxi-column>
      <dxi-column dataField="ESTADO_BOOL" caption="Estado" [width]="80" dataType="boolean">
        <ng-template dxTemplate="cell" let-cellData="cellData">
          <dx-check-box [value]="cellData.value" [readOnly]="true"></dx-check-box>
        </ng-template>
      </dxi-column>
    </dx-data-grid>
  </div>
</div>