<div style="width: 100%;height: 45px;">
  <div style="height: 85vh;">
    <dx-data-grid id="gridContainer" [dataSource]="Datos" [showBorders]="true" [showRowLines]="true" [height]="'100%'"
      [allowColumnResizing]="true" columnResizingMode="widget" [columnAutoWidth]="true"
      (onCellPrepared)="resaltarCelda($event)" (onExporting)="exportarConCabecera($event)"
      [rowAlternationEnabled]="true" (onToolbarPreparing)="onToolbarPreparing($event)">
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-paging [pageSize]="200"></dxo-paging>
      <dxo-search-panel [visible]="true"></dxo-search-panel>
      <dxo-export [enabled]="true" [fileName]="'Reporte'" [allowExportSelectedData]="false"></dxo-export>
      <dxi-column dataField="CODEMP" [fixed]="true" caption="Código"></dxi-column>
      <dxi-column dataField="RAZONSOCIAL" [fixed]="true" caption="Empleado" sortOrder="asc"></dxi-column>
      <dxi-column caption="Tiene Diferencias" [fixed]="true"  [calculateCellValue]="calcularTuvoDiferencias" name="tuvoDiferencias" width="120">
      </dxi-column>
      <dxi-column dataField="INGRESO" caption="F. Ingreso" dataType="date"  displayFormat="dd/MM/yyyy"></dxi-column>
      <dxi-column dataField="SALIDA" caption="F. Salida" dataType="date"  displayFormat="dd/MM/yyyy"></dxi-column>
      <dxi-column caption="Tipo de Contrato">
        <dxi-column dataField="TC2" [caption]="mesAnte"></dxi-column>
        <dxi-column dataField="TC1" [caption]="mesAct"></dxi-column>
      </dxi-column>
      <dxi-column caption="Centro de Costo">
        <dxi-column dataField="CC2" [caption]="mesAnte"></dxi-column>
        <dxi-column dataField="CC1" [caption]="mesAct"></dxi-column>
      </dxi-column>
      <dxi-column caption="Sueldo Contratado">
        <dxi-column dataField="SD2" [caption]="mesAnte"
          [format]="{ type: 'currency', currency: 'USD' , precision: 2}"></dxi-column>
        <dxi-column dataField="SD1" [caption]="mesAct"
          [format]="{ type: 'currency', currency: 'USD' , precision: 2}"></dxi-column>
        <dxi-column name="SD" [calculateCellValue]="calcularDiferenciaSD" caption="Diferencia"
          [format]="{ type: 'currency', currency: 'USD' , precision: 2}"></dxi-column>
      </dxi-column>
      <dxi-column caption="Sueldo Ganado">
        <dxi-column dataField="SD_G2" [caption]="mesAnte"
          [format]="{ type: 'currency', currency: 'USD' , precision: 2}"></dxi-column>
        <dxi-column dataField="SD_G1" [caption]="mesAct"
          [format]="{ type: 'currency', currency: 'USD' , precision: 2}"></dxi-column>
        <dxi-column name="SDG" [calculateCellValue]="calcularDiferenciaSDG" caption="Diferencia"
          [format]="{ type: 'currency', currency: 'USD' , precision: 2}"></dxi-column>
      </dxi-column>
      <dxi-column name="Dif2" [calculateCellValue]="calcularDiferenciaS1" caption="Contrato VS Ganado"
        [format]="{ type: 'currency', currency: 'USD' , precision: 2}">
      </dxi-column>
      <dxi-column caption="Extras">
        <dxi-column dataField="HE2" [caption]="mesAnte"
          [format]="{ type: 'currency', currency: 'USD' , precision: 2}"></dxi-column>
        <dxi-column dataField="HE1" [caption]="mesAct"
          [format]="{ type: 'currency', currency: 'USD' , precision: 2}"></dxi-column>
        <dxi-column name="HE" [calculateCellValue]="calcularDiferenciaHE" caption="Diferencia"
          [format]="{ type: 'currency', currency: 'USD' , precision: 2}"></dxi-column>
      </dxi-column>
      <dxi-column caption="Otros">
        <dxi-column dataField="HO2" [caption]="mesAnte"
          [format]="{ type: 'currency', currency: 'USD' , precision: 2}"></dxi-column>
        <dxi-column dataField="HO1" [caption]="mesAct"
          [format]="{ type: 'currency', currency: 'USD' , precision: 2}"></dxi-column>
        <dxi-column name="HO" [calculateCellValue]="calcularDiferenciaHO" caption="Diferencia"
          [format]="{ type: 'currency', currency: 'USD' , precision: 2}"></dxi-column>
      </dxi-column>
      <dxi-column caption="Fondos de Reserva">
        <dxi-column dataField="FR2" [caption]="mesAnte"
          [format]="{ type: 'currency', currency: 'USD' , precision: 2}"></dxi-column>
        <dxi-column dataField="FR1" [caption]="mesAct"
          [format]="{ type: 'currency', currency: 'USD' , precision: 2}"></dxi-column>
        <dxi-column name="FR" [calculateCellValue]="calcularDiferenciaFR" caption="Diferencia"
          [format]="{ type: 'currency', currency: 'USD' , precision: 2}"></dxi-column>
      </dxi-column>
      <dxi-column caption="Aporte IESS">
        <dxi-column dataField="IE2" [caption]="mesAnte"
          [format]="{ type: 'currency', currency: 'USD' , precision: 2}"></dxi-column>
        <dxi-column dataField="IE1" [caption]="mesAct"
          [format]="{ type: 'currency', currency: 'USD' , precision: 2}"></dxi-column>
        <dxi-column name="IE" [calculateCellValue]="calcularDiferenciaIE" caption="Diferencia"
          [format]="{ type: 'currency', currency: 'USD' , precision: 2}"></dxi-column>
      </dxi-column>
      <dxi-column caption="Imp. Renta">
        <dxi-column dataField="IR2" [caption]="mesAnte"
          [format]="{ type: 'currency', currency: 'USD' , precision: 2}"></dxi-column>
        <dxi-column dataField="IR1" [caption]="mesAct"
          [format]="{ type: 'currency', currency: 'USD' , precision: 2}"></dxi-column>
        <dxi-column name="IR" [calculateCellValue]="calcularDiferenciaIR" caption="Diferencia"
          [format]="{ type: 'currency', currency: 'USD' , precision: 2}"></dxi-column>
      </dxi-column>
      <dxo-summary>
        <!-- sumatotal -->
        <dxi-total-item column="SD1" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true"
          [valueFormat]="{ type: 'currency', currency: 'USD', precision: 2 }"></dxi-total-item>
        <dxi-total-item column="SD2" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true"
          [valueFormat]="{ type: 'currency', currency: 'USD', precision: 2 }"></dxi-total-item>
        <dxi-total-item column="SD" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true"
          [valueFormat]="{ type: 'currency', currency: 'USD', precision: 2 }"></dxi-total-item>
        <dxi-total-item column="SD_G1" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true"
          [valueFormat]="{ type: 'currency', currency: 'USD', precision: 2 }"></dxi-total-item>
        <dxi-total-item column="SD_G2" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true"
          [valueFormat]="{ type: 'currency', currency: 'USD', precision: 2 }"></dxi-total-item>
        <dxi-total-item column="SDG" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true"
          [valueFormat]="{ type: 'currency', currency: 'USD', precision: 2 }"></dxi-total-item>
        <dxi-total-item column="Dif2" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true"
          [valueFormat]="{ type: 'currency', currency: 'USD', precision: 2 }"></dxi-total-item>
        <dxi-total-item column="HE1" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true"
          [valueFormat]="{ type: 'currency', currency: 'USD', precision: 2 }"></dxi-total-item>
        <dxi-total-item column="HE2" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true"
          [valueFormat]="{ type: 'currency', currency: 'USD', precision: 2 }"></dxi-total-item>
        <dxi-total-item column="HE" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true"
          [valueFormat]="{ type: 'currency', currency: 'USD', precision: 2 }"></dxi-total-item>
        <dxi-total-item column="HO1" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true"
          [valueFormat]="{ type: 'currency', currency: 'USD', precision: 2 }"></dxi-total-item>
        <dxi-total-item column="HO2" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true"
          [valueFormat]="{ type: 'currency', currency: 'USD', precision: 2 }"></dxi-total-item>
        <dxi-total-item column="HO" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true"
          [valueFormat]="{ type: 'currency', currency: 'USD', precision: 2 }"></dxi-total-item>
        <dxi-total-item column="FR1" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true"
          [valueFormat]="{ type: 'currency', currency: 'USD', precision: 2 }"></dxi-total-item>
        <dxi-total-item column="FR2" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true"
          [valueFormat]="{ type: 'currency', currency: 'USD', precision: 2 }"></dxi-total-item>
        <dxi-total-item column="FR" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true"
          [valueFormat]="{ type: 'currency', currency: 'USD', precision: 2 }"></dxi-total-item>
        <dxi-total-item column="IE1" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true"
          [valueFormat]="{ type: 'currency', currency: 'USD', precision: 2 }"></dxi-total-item>
        <dxi-total-item column="IE2" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true"
          [valueFormat]="{ type: 'currency', currency: 'USD', precision: 2 }"></dxi-total-item>
        <dxi-total-item column="IE" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true"
          [valueFormat]="{ type: 'currency', currency: 'USD', precision: 2 }"></dxi-total-item>
        <dxi-total-item column="IR1" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true"
          [valueFormat]="{ type: 'currency', currency: 'USD', precision: 2 }"></dxi-total-item>
        <dxi-total-item column="IR2" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true"
          [valueFormat]="{ type: 'currency', currency: 'USD', precision: 2 }"></dxi-total-item>
        <dxi-total-item column="IR" summaryType="sum" displayFormat="{0}" [showInGroupFooter]="true"
          [valueFormat]="{ type: 'currency', currency: 'USD', precision: 2 }"></dxi-total-item>
      </dxo-summary>
    </dx-data-grid>
  </div>