<h5 class="mb-0">Préstamos</h5>
<div style="display: flex;">

  <div class="dx-field" style="width: 40%;">
    <div class="dx-field-label">Ver </div>
    <div class="dx-field-value">
      <dx-select-box [dataSource]="Saldo" displayExpr="TEXTO" valueExpr="VALOR" [(value)]="SaldoSelect"
        (onValueChanged)="onSaldoChange($event)"></dx-select-box>
    </div>
  </div>
  <div class="dx-field" style="width: 40%;">
    <div class="Control">
      <dx-date-range-box *ngIf="SaldoSelect == -1" [startDate]="fechaDesde!" displayFormat="'dd/MMMM/yyyy"
        [endDate]="fechaHasta!" [showClearButton]="true" (onValueChanged)="currentValueChanged($event)">
        <dx-date-range-box-picker>
          <dx-date-box #fecha type="date" displayFormat="dd/MMMM/yyyy" pickerType="calendar">
            <dx-calendar [zoomLevel]="'year'" [minZoomLevel]="'year'" [maxZoomLevel]="'decade'">
            </dx-calendar>
          </dx-date-box>
        </dx-date-range-box-picker>
      </dx-date-range-box>
    </div>
  </div>
  <div class="dx-field" style="width: 20%;">
    <dx-button icon="pdffile" (onClick)="Descarga()" text="Descargar"></dx-button>
  </div>
</div> 
<div style="height: 80vh;">

  <dx-data-grid id="gridContainer" [dataSource]="Datos" [showBorders]="true" [showRowLines]="true" [height]="'100%'"
    [allowColumnResizing]="true" columnResizingMode="widget" [columnAutoWidth]="true">
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-paging [pageSize]="100"></dxo-paging>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
    <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxi-column dataField="RAZONSOCIAL" caption="Empleado" [groupIndex]="0"></dxi-column>
    <dxi-column dataField="CODPRESTAMO" caption="Código"></dxi-column>
    <dxi-column dataField="TIPO" caption="Tipo"></dxi-column>
    <dxi-column dataField="OBSERVACION" caption="Descripción" [width]="'300px'" [wordWrapEnabled]="true"></dxi-column>
    <dxi-column dataField="FECHAINI" caption="Inicio" dataType="date" [format]="'dd/MM/yyyy'" sortOrder="asc" sortIndex="0"></dxi-column>
    <dxi-column dataField="NUMCUOTAS" caption="#Cuotas"></dxi-column>
    <dxi-column dataField="VALOR_CUOTA" caption="Cuota" dataType="number"
      [format]="{ type: 'currency', currency: 'USD' , precision: 2}"></dxi-column>
    <dxi-column dataField="FECHAFIN" caption="Fin" dataType="date" [format]="'dd/MM/yyyy'"></dxi-column>
    <dxi-column dataField="SALDO" caption="Saldo" dataType="number"
      [format]="{ type: 'currency', currency: 'USD' , precision: 2}"></dxi-column>
  </dx-data-grid>
  
</div>