.responsive-grid {
  width: 100%;
  overflow-x: auto;
}
.container {
  width: 100%;
  max-width: 100%;
}
.is-invalid {
border: 1px solid red !important;
  background-color: #ffe6e6;
}
.flatpickr-input.is-invalid {
  border-color: #dc3545;
}
input.flatpickr-input.is-invalid + .form-control.is-invalid {
  border-color: #dc3545;
}
// :host ::ng-deep .dx-datagrid-headers .dx-header-row .dx-datagrid-text-content {
//   font-size: 16px !important;
//   font-weight: bold !important;
// }
.grid-container {
  width: 100%;
  height: 59vh; /* o 100% del padre si estás en layout con divs */
  box-sizing: border-box;
  overflow: auto;
  padding: 10px; /* opcional */
}