<div class="grid-container">
    <dx-data-grid
                  id="gridContainer"
                  (onExporting)="onExporting($event)"
                  (onToolbarPreparing)="agregarBotonesToolbar($event)"
                  [dataSource]="customers"
                  keyExpr="CODEMP"
                    [allowColumnResizing]="true"
                  [columnAutoWidth]="true"
                  [allowColumnReordering]="true"
                  [showBorders]="true"
                  [height]="'100%'"
                  [width]="'100%'"
                ><dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-header-filter [visible]="true"></dxo-header-filter>
                <dxo-group-panel [visible]="true"></dxo-group-panel>
                <dxo-paging [pageSize]="25"> </dxo-paging>
                <dxo-pager
                [visible]="true"
                [showInfo]="true"
                [showNavigationButtons]="true"
                [showPageSizeSelector]="true"
                [allowedPageSizes]="[10, 25, 50, 100]"
              ></dxo-pager>
              <dxo-search-panel
                [visible]="true"
                [highlightCaseSensitive]="true"
              ></dxo-search-panel>
              <dxo-group-panel [visible]="true"></dxo-group-panel>
              <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
              <dxo-scrolling rowRenderingMode="virtual" > </dxo-scrolling>
              <dxi-column type="buttons" [width]="110" caption="Acción">
                
                <dxi-button
                  hint="Ver"
                  icon="assets/images/ver.png"
                  [onClick]="onCloneIconClick"
                ></dxi-button>
              </dxi-column>

                <dxi-column dataField="CODEMP" caption="Codigo" [width]="100" ></dxi-column>
                <dxi-column dataField="APELLIDO_PAT" caption="Apellido Paterno" [width]="200"></dxi-column>
                <dxi-column dataField="APELLIDO_MAT" caption="Apellido Materno" [width]="200"></dxi-column>
                <dxi-column dataField="APELLIDO_CAS" caption="Apellido Casado(a)" [width]="200"></dxi-column>
                <dxi-column dataField="NOMBRES" caption="Nombres"  [width]="200"></dxi-column>
                <dxi-column dataField="RAZONSOCIAL" caption="Razón Social" [width]="300"></dxi-column>
                <dxi-column dataField="SEXO" caption="Sexo" [width]="100" >
                  <dxi-validation-rule type="required" ></dxi-validation-rule>
    <dxo-lookup
      [dataSource]="generos"
      displayExpr="Name"
      valueExpr="ID"
    ></dxo-lookup>
                </dxi-column>
                <dxi-column dataField="TIPCONTRATO" caption="Tipo Contrato" [width]="200">
                  <dxi-validation-rule type="required" ></dxi-validation-rule>
                  <dxo-lookup
                    [dataSource]="tipocontrato"
                    displayExpr="Name"
                    valueExpr="ID"
                  ></dxo-lookup>
                </dxi-column>
                <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
                
                </dx-data-grid>

</div>
             
  
      
          