<div style="height: 85vh;">
  <dx-data-grid id="gridContainer"  [showBorders]="true" [showRowLines]="true" [height]="'100%'" [rowAlternationEnabled]="true"
  [editing]="{
    mode: 'batch',
    allowUpdating: true
  }" >
    <dxo-paging [pageSize]="100"></dxo-paging>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
    <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxi-column dataField="RAZONSOCIAL" [fixed]="true" caption="Empleado"></dxi-column>
    <dxi-column dataField="HOR_DIA" caption="#Día" [width]="'70px'"></dxi-column>
       <dxi-column dataField="HOR_ENTRADA" caption="H. Entrada" dataType="number" [width]="'80px'"></dxi-column>
      <dxi-column dataField="HOR_SALIDA" caption="H. Salida" dataType="number" [width]="'80px'"></dxi-column>
      <dxi-column dataField="HOR_REFERENCIA" caption="Salud" dataType="number"></dxi-column>
  </dx-data-grid>
</div>