<h5 class="mb-0">Comparar pagos del IESS</h5>
<div style="display: flex;justify-content: space-between;">
  <div style="width: 20%;min-width: 220px;">
    <dx-date-box type="date" [showClearButton]="true" [useMaskBehavior]="true" displayFormat="MMMM yyyy"
      pickerType="calendar" [inputAttr]="{ 'aria-label': 'Date' }" [(value)]="Fecha" [calendarOptions]="{
    zoomLevel: 'year',      
    maxZoomLevel: 'year',  
    minZoomLevel: 'decade'  
  }">
    </dx-date-box>
    <div id="fileuploader-container">
      <dx-file-uploader selectButtonText="Seleccionar Excel" labelText="O arrastra un archivo aquí..."
        [multiple]="false" [accept]="'.xlsx,.xls'" (onValueChanged)="onFileChange($event)">
      </dx-file-uploader>
    </div>
  </div>
  <div style="width: 78%;">
    <dx-data-grid id="gridContainer" [dataSource]="Comparacion" [showBorders]="true" [columnAutoWidth]="true"
      (onCellPrepared)="onCellPrepared($event)" [showRowLines]="true" [height]="'calc(100vh - 90px)'">
      <dxi-column dataField="PERIODO" caption="Periodo" [sortIndex]="1" sortOrder="asc"></dxi-column>
      <dxi-column dataField="NUMCEDULA" caption="Identificación"></dxi-column>
      <dxi-column dataField="RAZONSOCIAL" caption="Nombres" [sortIndex]="0" sortOrder="asc"></dxi-column>
      <dxi-column caption="Colegio">
        <dxi-column dataField="SUELDO" caption="Sueldo" format="currency"></dxi-column>
        <dxi-column dataField="DIAS" caption="Días"></dxi-column>
      </dxi-column>
      <dxi-column caption="IESS">
        <dxi-column dataField="SUELDO_IESS" caption="Sueldo" format="currency"></dxi-column>
        <dxi-column dataField="DIAS_IESS" caption="Días"></dxi-column>
      </dxi-column>
    </dx-data-grid>
  </div>
</div>